{% load i18n %}
{% load mathfilters %}

<!doctype html>
{% if 'ru' in language %}
    <html lang="ru">
{% else %}
    <html lang="en">
{% endif %}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gallery</title>

    <script src="https://code.jquery.com/jquery-3.6.3.slim.js" integrity="sha256-DKU1CmJ8kBuEwumaLuh9Tl/6ZB6jzGOBV/5YpNE2BWc=" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

    <script>

        $(window).on('load', function()
        {
            $('#masonry').masonry({
                    "percentPosition": true,
                    isAnimated: true,
                    animationOptions: {
                        duration: 700,
                        easing: 'linear',
                        queue: false
                    }
                }
            );
        });
    </script>

    <style>
        .list-group-item a {
            text-decoration: none;
            color: black;
        }
    </style>


</head>

<body class=" bg-light text-dark fs-5">



{% include "header.html" with objects=path %}

<div class="container-fluid">
    <div class="row justify-content-start">
        <div class="col-md-auto" style="min-width: 16%"> <!--TODO fix certain scale bug. It's pretty common as I see :(-->
            <div class="card my-2">
                <div class="card-header">
                    {% trans 'Categories' %}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{% url 'gallery_new' %}">{% trans 'All' %}</a>
                    </li>
                    {% for category in categories %}
                        <li class=" list-group-item">
                            <a href="{% url 'gallery_new' %}{{ category.name_en }}">
                                {% if 'ru' in language %}
                                        {{ category.name_ru }}
                                {% else %}
                                        {{ category.name_en }}
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}

                    {% if request.user.is_authenticated %}
                        <a href="{% url 'add' %}" class="btn btn-dark btn-block btn-sm m-1">{% trans 'Add photo' %}</a>
                    {% endif %}
                </ul>
            </div>

            </div>
        <div class="col-md my-2">
            <div class="row" id="masonry">
                {% for photo in photos %}
                    {% for url in photo.image_url %}
                    <div class="col-md-6 p-0">
                        <div class="m-1">
                            {% if 'ru' in language %}
                                <a href="{% url 'photo' photo.id %}" title="{{ photo.category.name_ru }}">
                            {% else %}
                                <a href="{% url 'photo' photo.id %}" title="{{ photo.category.name_en }}">
                            {% endif %}
                                <img class="img-fluid items"
                                     style="width: 100%"
                                     src="{{ url }}" alt=""/>
                                </a>
                        </div>

                    </div>
                        {% endfor %}
                {% empty %}
                    <h3>{% trans 'No photos...' %}</h3>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

</body>
</html>