{% load i18n %}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% if path == 'index' %}
                    <a class="nav-link active" href="{% url 'index' %}">{% trans 'Home' %}</a>
                {% else %}
                    <a class="nav-link" href="{% url 'index' %}">{% trans 'Home' %}</a>
                {% endif %}
{#                <a class="nav-link" href="{% url 'links' %}">{% trans 'Links' %}</a>#}
                {% if path == 'gallery_new' or path == 'gallery_filter_new' %}
                    <a class="nav-link active" aria-current="page" href="{% url 'gallery_new' %}">{% trans 'Gallery' %}</a>
                {% else %}
                    <a class="nav-link" aria-current="page" href="{% url 'gallery_new' %}">{% trans 'Gallery' %}</a>
                {% endif %}

            </div>
        </div>
    </div>
</nav>